<mat-card [ngClass]="bgClass">
    <!-- <mat-card-header> -->
        <mat-card-title>{{count}}</mat-card-title>
        <mat-card-subtitle>{{label}}</mat-card-subtitle>
        <div mat-card-avatar class="d-icons">
            <mat-icon class="icon-lg" svgIcon="{{icon}}"></mat-icon>
        </div>
    <!-- </mat-card-header> -->
    <!-- <mat-card-actions>
            <div mat-card-avatar>
                <mat-icon class="icon-lg">{{icon}}</mat-icon>
            </div>
        </mat-card-actions> -->
</mat-card>